    body{
         color:rgb(214, 55, 132);
         background: rgb(88, 184, 88);
         margin:0px;
         font-family: ;"Alan Sans", sans-serif;

    }

    header{

     
     border-bottom: solid 2px red;
     padding:20px;
     font-size: 32px;
     color: black;
    }
     section{ 
          background: red;
          padding-bottom:   80px;
          padding-top: 80px;
          display: flex;
          justify-content: center;
          .chamada.texto{
               /* margin-right:5%;
     }
