    body {
         color: rgb(214, 55, 132);
         background: rgb(88, 184, 88);
         margin: 0px;
         font-family: ;
         "Alan Sans",
         sans-serif;
         margin-bottom:100px;

    }

    header {


         border-bottom: solid 2px red;
         padding: 20px;
         font-size: 32px;
         color: black;
    }

    .chamada{
         background: red;
         padding-bottom: 80px;
         padding-top: 80px;
         display: flex;
         justify-content: center;
    }

    .chamada.texto {
         margin-right: 5%;
    }

    h1 {
         font-size: 40px;
    }

    p {

         font-size: 2opx;
    }

    img {
         height: 200px
    }
     .categoria-vìdeos{
          display:flex;
          overflow-x: auto;
          gap: 10px;

     }
     .categoria{
           padding-left:20px;
           padding-right:20px;
           margin-top: 50px;

     }
     .categoria-vìdeos img{
      opacity: 0,5;
      height:200px;
}
     .categoria-vìdeos img:hover{

          opacity: 1.0;
          border: 1px solid red;
     }
     .categoria h2 {
      color: beige;
     }

